{
  "NODE_ENV": "development",
  "SPOTIFY_CLIENT_ID": "id",
  "SPOTIFY_CLIENT_SECRET": "secret",
  "LASTFM_API_KEY": "key",
  "MONGO_URI": "uri",
  "API_PORT": "5000",
  
  "API_HOST": "https://localhost"
}
